<section class="mt-20">
  <div class="hero flex flex-col">
    <div class="hero-content flex flex-col items-center justify-center">
      <h1 class="text-[40px] font-semibold">Configuración</h1>
      <p class="text-[20px] max-w-2xl text-center leading-3">
        Nos preocupamos por vos.
      </p>
    </div>

    <div
      class="bg-black rounded-2xl w-[1000px] mt-[120px] space-y-10 py-[50px] px-5"
    >
      <div class="flex flex-col items-center justify-center">
        <div class="flex flex-row space-x-8 items-center">
          <h2 class="text-white text-[30px]">Plan Actual</h2>
          <h2 class="bg-green-900 text-green-300 py-1 px-2 rounded-2xl">
            Plan Free
          </h2>
        </div>

        <div class="flex justify-center items-center mt-[30px] pb-[10px]">
          <button class="bg-white text-black rounded-2xl w-[250px] py-1 px-7">
            Upgradear Plan
          </button>
        </div>
      </div>

      <div class="flex flex-col items-center justify-center">
        <div class="flex items-center">
          <h2 class="text-white text-[30px]">Conversiones restantes</h2>
        </div>

        <span class="bg-green-400 rounded-2xl w-[250px]"></span>
      </div>
    </div>
  </div>
</section>
