<div class="flex justify-center items-center">
      <div class="card max-w-lg bg-black shadow-xl my-[3.5rem]">
        <div class="card-body">
          <div class="flex flex-col space-y-10 items-center justify-center">
            <img src="https://res.cloudinary.com/dw0u1mvt1/image/upload/v1703082915/Money_hjsfbp.png" alt="Money icon" width="100" height="100">
            <h2 class="text-[30px] text-white font-medium">Registrate</h2>
          </div>
    
          <app-register-form></app-register-form>
        </div>
      </div>
    </div>
