<section class="mt-20">
  <div class="hero flex flex-col">
    <div class="hero-content flex flex-col items-center justify-center">
      <h1 class="text-[40px] font-semibold">Planes</h1>
      <p class="text-[20px] max-w-2xl text-center leading-6">
        Transparentes y accessibles.
      </p>
    </div>

    <div
      class="grid grid-flow-row grid-cols-3 gap-10 justify-center items-center mt-[100px]"
    >
      <!-- Plan Free --> 
      <div
        class="flex flex-col bg-black max-w-lg space-y-10 px-6 py-4 rounded-2xl"
      >
        <div class="flex flex-col justify-center items-center pt-[10px]">
          <h2 class="font-medium text-white text-[30px]">Gratis</h2>
          <p class="font-normal text-[#CDCDCD] text-[20px]">
            Para un proyecto hobby
          </p>
        </div>

        <div class="flex flex-col justify-center items-center">
          <h2 class="font semibold text-white text-[50px]">$0</h2>
          <p class="font-normal text-[#CDCDCD] text-[20px]">por mes</p>
        </div>

        <ul class="flex flex-col space-y-3">
          <li class="flex flex-row space-x-3">
            <img
              src="https://res.cloudinary.com/dw0u1mvt1/image/upload/v1703085110/Check_brgut4.png"
              alt="Check Icon"
              width="30"
              height="30"
            />

            <h2 class="font-normal text-white text-[20px]">
              Hasta 10 usos por mes
            </h2>
          </li>

          <li class="flex flex-row space-x-3">
            <img
              src="https://res.cloudinary.com/dw0u1mvt1/image/upload/v1703085110/Check_brgut4.png"
              alt="Check Icon"
              width="30"
              height="30"
            />

            <h2 class="font-normal text-white text-[20px]">
              Hasta 5 cambios de moneda
            </h2>
          </li>

          <li class="flex flex-row space-x-3">
            <img
              src="https://res.cloudinary.com/dw0u1mvt1/image/upload/v1703085110/Check_brgut4.png"
              alt="Check Icon"
              width="30"
              height="30"
            />

            <h2 class="font-normal text-white text-[20px]">
              Una sola IP por cuenta
            </h2>
          </li>
        </ul>

        <div class="flex justify-center items-center mt-[30px] pb-[10px]">
          <button class="bg-white text-black rounded-2xl w-fit py-1 px-7">
            Upgradear Plan
          </button>
        </div>
      </div>

      <!-- Plan Trial -->
      <div
        class="flex flex-col bg-black max-w-lg space-y-10 px-6 py-4 rounded-2xl"
      >
        <div class="flex flex-col justify-center items-center pt-[10px]">
          <h2 class="font-medium text-white text-[30px]">Trial</h2>
          <p class="font-normal text-[#CDCDCD] text-[20px]">
            Para probal el servicio
          </p>
        </div>

        <div class="flex flex-col justify-center items-center">
          <h2 class="font semibold text-white text-[50px]">$10</h2>
          <p class="font-normal text-[#CDCDCD] text-[20px]">por mes</p>
        </div>

        <ul class="flex flex-col space-y-3">
          <li class="flex flex-row space-x-3">
            <img
              src="https://res.cloudinary.com/dw0u1mvt1/image/upload/v1703085110/Check_brgut4.png"
              alt="Check Icon"
              width="30"
              height="30"
            />

            <h2 class="font-normal text-white text-[20px]">
              Hasta 100 usos por mes
            </h2>
          </li>

          <li class="flex flex-row space-x-3">
            <img
              src="https://res.cloudinary.com/dw0u1mvt1/image/upload/v1703085110/Check_brgut4.png"
              alt="Check Icon"
              width="30"
              height="30"
            />

            <h2 class="font-normal text-white text-[20px]">
              Cambios de moneda ilimitado
            </h2>
          </li>

          <li class="flex flex-row space-x-3">
            <img
              src="https://res.cloudinary.com/dw0u1mvt1/image/upload/v1703085110/Check_brgut4.png"
              alt="Check Icon"
              width="30"
              height="30"
            />

            <h2 class="font-normal text-white text-[20px]">
              Ilimitadas IP por cuenta
            </h2>
          </li>
        </ul>

        <div class="flex justify-center items-center mt-[30px] pb-[10px]">
          <button class="bg-white text-black rounded-2xl w-fit py-1 px-7">
            Upgradear Plan
          </button>
        </div>
      </div>

      <!-- Plan Pro -->
      <div
        class="flex flex-col bg-black max-w-lg space-y-10 px-6 py-4 rounded-2xl"
      >
        <div class="flex flex-col justify-center items-center pt-[10px]">
          <h2 class="font-medium text-white text-[30px]">Pro</h2>
          <p class="font-normal text-[#CDCDCD] text-[20px]">
            Para un proyecto mediano/grande
          </p>
        </div>

        <div class="flex flex-col justify-center items-center">
          <h2 class="font semibold text-white text-[50px]">$20</h2>
          <p class="font-normal text-[#CDCDCD] text-[20px]">por mes</p>
        </div>

        <ul class="flex flex-col space-y-3">
          <li class="flex flex-row space-x-3">
            <img
              src="https://res.cloudinary.com/dw0u1mvt1/image/upload/v1703085110/Check_brgut4.png"
              alt="Check Icon"
              width="30"
              height="30"
            />

            <h2 class="font-normal text-white text-[20px]">
              Usos ilimitados por mes
            </h2>
          </li>

          <li class="flex flex-row space-x-3">
            <img
              src="https://res.cloudinary.com/dw0u1mvt1/image/upload/v1703085110/Check_brgut4.png"
              alt="Check Icon"
              width="30"
              height="30"
            />

            <h2 class="font-normal text-white text-[20px]">
              Cambios de moneda ilimitado
            </h2>
          </li>

          <li class="flex flex-row space-x-3">
            <img
              src="https://res.cloudinary.com/dw0u1mvt1/image/upload/v1703085110/Check_brgut4.png"
              alt="Check Icon"
              width="30"
              height="30"
            />

            <h2 class="font-normal text-white text-[20px]">
              Ilimitadas IP por cuenta
            </h2>
          </li>
        </ul>

        <div class="flex justify-center items-center mt-[30px] pb-[10px]">
          <button class="bg-white text-black rounded-2xl w-fit py-1 px-7">
            Upgradear Plan
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
